@page "/travelers"
@using TravelApp.Data
@inject TravelContext Db

<h3>Travelers</h3>

<table class="table table-bordered">
  <thead class="table-light">
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Style</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var t in travelers)
    {
      <tr>
        <td>@t.Id</td>
        <td>@t.FirstName</td>
        <td>@t.LastName</td>
        <td>@t.Style</td>
